<div class="blog-post shadow-hover">
  <a href="<%= blog_path(blog) %>" class="blog-post-img">
    <div class="img-fade"></div>
    <div class="blog-post-date">
      <span><%= blog.created_at.day %></span> 
      <%= Date::ABBR_MONTHNAMES[blog.created_at.month] %>
    </div>
    <%= image_tag blog.image.url, style: 'width: 100%; height: 500px' %>
  </a>
  <div class="content blog-post-content">
    <h3><a href="<%= blog_path(blog) %>"> <%= blog.title %> </a></h3>
    <p> <%= truncate(blog.description, length: 350) %> </p>
    <a href="<%= blog_path(blog) %>" class="button button-icon small alt"><i class="fa fa-angle-right"></i> Read More</a>
  </div>
</div>
