<section class="subheader subheader-listing-sidebar">
  <div class="container">
    <h1>Property Listings</h1>
    <div class="breadcrumb right"> <%= link_to "Home", page_path('index') %> <i class="fa fa-angle-right"></i> <a href="<%= properties_path %>" class="current"> Properties </a> </div>
    <div class="clear"></div>
  </div>
</section>

<% flash.each do |key,value| %>
  <div class="alert-box success" style="width: 35%; margin-left: 7.6%; margin-top: 2%; margin-bottom: -3%; ">
    <span style="float: left"><i class="fa fa-check icon"></i></span>
    <p id="notice" style="margin-bottom: 0%;"><%= value %></p>
  </div>
<% end %>

<section class="module">
  <div class="container">

	<div class="row">
		<div class="col-lg-8 col-md-8">
		
			<div class="property-listing-header">
				<% if @count != 0 %>
					<span class="property-count left">8 properties found</span>
				<% end %>	
				<!-- <div class="property-layout-toggle right">
					<a href="property-listing-grid-sidebar.html" class="property-layout-toggle-item"><i class="fa fa-th-large"></i></a>
					<a href="property-listing-row-sidebar.html" class="property-layout-toggle-item active"><i class="fa fa-bars"></i></a>
				</div> -->
				<div class="clear"></div>
			</div><!-- end property listing header -->

			<%= render "properties" %>
		
		</div><!-- end listing -->
		
		<div class="col-lg-4 col-md-4 sidebar">
		
			<div class="widget widget-sidebar sidebar-properties advanced-search">
			  <h4><span>Advanced Search</span> <%= image_tag "images/divider-half.png" %> </h4>
			  <div class="widget-content box">
				<form>
				  <div class="form-block border">
					<label for="property-location">Location</label>
					<select id="property-location" class="border">
					  <option value="">Any</option>
					  <option value="baltimore">Baltimore</option>
					  <option value="ny">New York</option>
					  <option value="nap">Annapolis</option>
					</select>
				  </div>

				  <div class="form-block border">
					<label for="property-status">Property Status</label>
					<select id="property-status" class="border">
					  <option value="">Any</option>
					  <option value="sale">For Sale</option>
					  <option value="rent">For Rent</option>
					</select>
				  </div>

				  <div class="form-block border">
					<label for="property-type">Property Type</label>
					<select id="property-type" class="border">
					  <option value="">Any</option>
					  <option value="family">Family Home</option>
					  <option value="apartment">Apartment</option>
					  <option value="apartment">Condo</option>
					</select>
				  </div>
				  
				  <div class="form-block">
            <label>Price</label>
            <div class="price-slider" id="price-slider"></div>
          </div>

				  <div class="form-block border">
					<label>Beds</label>
					<select name="beds" id="property-beds" class="border">
					  <option value="">Any</option>
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				  </div>

				  <div class="form-block border">
					<label>Baths</label>
					<select name="baths" id="property-baths" class="border">
					  <option value="">Any</option>
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				  </div>

				  <div class="form-block">
					<label>Area</label>
					<input type="number" name="areaMin" class="area-filter border" placeholder="Min" />
					<input type="number" name="areaMax" class="area-filter border" placeholder="Max" />
					<div class="clear"></div>
				  </div>

				  <div class="form-block">
					<input type="submit" class="button" value="Find Properties" />
				  </div>
				</form>
			  </div><!-- end widget content -->
			</div><!-- end widget -->
			
			<div class="widget widget-sidebar recent-properties">
			  <h4><span>Recent Properties</span> <%= image_tag "images/divider-half.png" %></h4>
			  <div class="widget-content">
			  <% @recents = Property.order(id: :desc).where(:isPublished => 1).first(3) %>
			  <% @recents.each do |recent| %>	
				
				<div class="recent-property">
				  <div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4"><a href="<%= property_path(recent) %>"><%= image_tag recent.image.url %></a></div>
					<div class="col-lg-8 col-md-8 col-sm-8">
					  <h5><a href="<%= property_path(recent) %>"><%= recent.title %></a></h5>
					  <p><strong>$<%= recent.price %></strong> Per Month</p>
					</div>
				  </div>
				</div>
			   
			   <% end %>	
				
			  </div><!-- end widget content -->
			</div><!-- end widget -->
		
		</div><!-- end sidebar -->
		
	</div><!-- end row -->

  </div><!-- end container -->
</section>

<section class="module cta newsletter" style="background-color: #59aee9">
  <div class="container">
	<div class="row">
		<div class="col-lg-7 col-md-7">
			<h3>Sign up for our <strong>newsletter.</strong></h3>
			<p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
		<div class="col-lg-5 col-md-5">
			<form method="post" id="newsletter-form" class="newsletter-form">
				<input type="email" placeholder="Your email..." />
				<button type="submit" form="newsletter-form"><i class="fa fa-send"></i></button>
			</form>
		</div>
	</div><!-- end row -->
  </div><!-- end container -->
</section>