<section class="subheader simple-search">
  <div class="container">
    <% flash.each do |key,value| %>
      <div class="alert-box success" style="width: 42%; margin-left: 29%; margin-top: 0%; margin-bottom: 2%; background-color: transparent;">
        <span style="float: left; margin-top: 1%;"><i class="fa fa-check icon"></i></span>
        <p id="notice" style="margin-bottom: 0%; margin-top: auto;"><%= value %></p>
      </div>
    <% end %>
    <h1> Find your new home today. </h1>
    <p> We would love to make your life easier when it comes to find a suitable property for you.  </p>
    <div class="tabs" style="margin-left: -50%;">
      <ul>
        <li><a href="#tabs-1">Rent</a></li>
        <li><a href="#tabs-2">Sale</a></li>
        <li><a href="#tabs-3">Buy</a></li>
      </ul>
      
      <div id="tabs-1" class="ui-tabs-hide" style="margin-left: 20%;">
        <%= render 'tag_search', tag_value: 'Rent', select_value: '' %>
      </div>
      
      <div id="tabs-2" class="ui-tabs-hide" style="margin-left: 20%;">
        <div style="width: 30%; margin-left: 22%;" class="widget-content box"> 
          <p> Sale content will come here </p>
        </div>
      </div>
      
      <div id="tabs-3" class="ui-tabs-hide" style="margin-left: 20%;">
        <%= render 'tag_search', tag_value: 'Sell', select_value: ["Empty Land", "Empty Land"] %>
      </div>
    </div>
  </div><!-- end container -->
</section>

<section class="module no-padding properties featured" style="margin-top: 5%;">

  <div class="container">
    <div class="module-header">
      <h2>Featured <strong>Properties</strong> For Sale</h2>
      <%= image_tag "images/divider.png" %>
      <p>Morbi accumsan ipsum velit nam nec tellus a odiose tincidunt auctor a ornare odio sed non mauris vitae erat consequat auctor</p>
    </div>
  </div>

  <div class="slider-nav slider-nav-properties-featured-for-sell">
    <span class="slider-prev"><i class="fa fa-angle-left"></i></span>
    <span class="slider-next"><i class="fa fa-angle-right"></i></span>
  </div>
  
  <div class="slider-wrap">
    <div class="slider slider-featured">
    <% @featureds = Property.all.where(isFeatured: 1, tag: "Sell") %>
    <% @featureds.each do |featured| %>
      <div class="property property-hidden-content slide">
        <a href="<%= property_path(featured) %>" class="property-content">
          <div class="property-title">
            <h4> <%= featured.title %> </h4>
            <p class="property-address"><i class="fa fa-map-marker icon"></i> <%= featured.address %> </p>
          </div>
          <table class="property-details">
            <tr>
              <td><i class="fa fa-bed"></i>  <%= featured.bedrooms %>  Beds</td>
              <td><i class="fa fa-tint"></i>  <%= featured.bath %>  Baths</td>
              <td><i class="fa fa-expand"></i>  <%= featured.area %>  Meter Sq</td>
            </tr>
          </table>
        </a>
        <a href="<%= property_path(featured) %>" class="property-img">
            <div class="img-fade"></div>
            <div class="property-tag button alt featured">Featured</div>
            <div class="property-tag button status">For <%= featured.tag.capitalize %></div>
            <div class="property-price">$ <%= featured.price %> </div>
            <div class="property-color-bar"></div>
            <%= image_tag featured.image.url, style: "height: 210px; width: 100%;" %>
        </a>
      </div>
    <% end %>
    </div><!-- end slider -->
  </div><!-- end slider wrap -->
</section>

<section class="module no-padding properties featured" style="margin-top: 5%;">

  <div class="container">
    <div class="module-header">
      <h2>Featured <strong>Properties</strong> For Rent</h2>
      <%= image_tag "images/divider.png" %>
      <p>Morbi accumsan ipsum velit nam nec tellus a odiose tincidunt auctor a ornare odio sed non mauris vitae erat consequat auctor</p>
    </div>
  </div>

  <div class="slider-nav slider-nav-properties-featured-for-rent">
    <span class="slider-prev"><i class="fa fa-angle-left"></i></span>
    <span class="slider-next"><i class="fa fa-angle-right"></i></span>
  </div>
  
  <div class="slider-wrap" style="margin-top: 4%;">
    <div class="slider slider-featured2">
    <% @featureds = Property.all.where(isFeatured: 1, tag: "Rent") %>
    <% @featureds.each do |featured| %>
      <div class="property property-hidden-content slide">
        <a href="<%= property_path(featured) %>" class="property-content">
          <div class="property-title">
            <h4> <%= featured.title %> </h4>
            <p class="property-address"><i class="fa fa-map-marker icon"></i> <%= featured.address %> </p>
          </div>
          <table class="property-details">
            <tr>
              <td><i class="fa fa-bed"></i>  <%= featured.bedrooms %>  Beds</td>
              <td><i class="fa fa-tint"></i>  <%= featured.bath %>  Baths</td>
              <td><i class="fa fa-expand"></i>  <%= featured.area %>  Meter Sq</td>
            </tr>
          </table>
        </a>
        <a href="<%= property_path(featured) %>" class="property-img">
            <div class="img-fade"></div>
            <div class="property-tag button alt featured">Featured</div>
            <div class="property-tag button status">For <%= featured.tag.capitalize %></div>
            <div class="property-price">$ <%= featured.price %> </div>
            <div class="property-color-bar"></div>
            <%= image_tag featured.image.url, style: "height: 210px; width: 100%;" %>
        </a>
      </div>
    <% end %>
    </div><!-- end slider -->
  </div><!-- end slider wrap -->
</section>

<section class="module cta newsletter" style="background-color: #59aee9; margin-top: 5%;">
  <div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7">
      <h3>Sign up for our <strong>newsletter.</strong></h3>
      <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>
    <div class="col-lg-5 col-md-5">
      <form method="" id="newsletter-form" class="newsletter-form">
        <input type="email" placeholder="Your email..." />
        <button type="submit" form="newsletter-form"><i class="fa fa-send"></i></button>
      </form>
    </div>
  </div><!-- end row -->
  </div><!-- end container -->
</section>
