<header data-bind="component: { name: 'main-header', params: $data }, visible: (!isPortrait() || showingModals() <= 0) &amp;&amp; headerVisible">

<a href="index.html"> <%= image_tag 'images/logo.png', class: "logo", 'data-bind' => "click: logoClick" %> </a>
<!-- ko component: { name: 'hamburger-menu',  params: $root } --><div class="hamburger" onClick="hamburgerToggle()"></div>
<div class="mobileMenu" data-bind="visible: mobileMenu() &amp;&amp; $root.isPortrait()" style="display: none;" id="mobile_menu">
    <ul>
      <li><a href="<%= page_path('index') %>" data-bind="text: $data.name, click: $parent.menuClick">Home</a></li>
        
      <li><a href="<%= properties_path %>" data-bind="text: $data.name, click: $parent.menuClick">Properties</a></li>
       
      <li><a href="<%= page_path('about') %>" data-bind="text: $data.name, click: $parent.menuClick">About</a></li>
      <li><a href="<%= page_path('contact') %>">Contact</a></li>
      <% if user_signed_in? %>
        <li><a href="<%= new_property_path %>">Submit New Property</a></li>
      <% end %>
    </ul>
    
</div>
<ul id="mainMenu">
    <li> <%= link_to 'Home', page_path('index') %> </li>
    <li> <a href="<%= properties_path %>">Properties</a> </li>
   
    <li><a href="<%= page_path('about') %>">About</a></li>
    <li><a href="<%= page_path('contact') %>">Contact</a></li>
    <% if user_signed_in? %>
      <li><a href="<%= new_property_path %>">Submit New Property</a></li>
    <% end %>
</ul>
<div id="secondaryMenu">
  <div class="phone"><a href="tel:+2001234565665">(+200) 123 456 5665</a></div>
  <div class="sessionInfo">
    <% if user_signed_in? %>
      <button class="dark"><i class="fa fa-sign-in icon"></i><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'top-bar-item' %> </a></button>
    <% else %>
      <button class="dark"><a href="<%= new_user_session_path %>" class="top-bar-item"><i class="fa fa-sign-in icon"></i>Login</a></button>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>

</header>
