<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Homely - Responsive Real Estate Template">
	<meta name="author" content="Rype Creative [Chris Gipple]">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'images/logo.ico' %>
	<title>Homely | A real estate theme</title>
    
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'scss/mobile', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'scss/static', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'navbar' %>

  <body style="top: 40px;">
    <%= yield %>
  </body>

  <footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 widget footer-widget">
                <a class="footer-logo" href="#"><%= image_tag "images/logo2.png", alt: "", style: 'width: 100%;margin-top: -34%;margin-left: -36%;margin-bottom: -16%;' %></a>
                <p>Social Networks</p>
                <div class="divider"></div>
                <ul class="social-icons circle">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 widget footer-widget from-the-blog">
                <h4><span>Company</span> <%= image_tag "images/divider-half.png", alt: "" %></h4>
                <ul>
                    <li>
                      <a href="#"><h3>About Us</h3></a>
                      <div class="clear"></div>
                    </li>
                    <li>
                      <a href="<%= page_path('terms') %>"><h3>Terms of Service</h3></a>
                      <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 widget footer-widget from-the-blog">
                <h4><span>Help & Support</span> <%= image_tag "images/divider-half.png", alt: "" %></h4>
                
                <ul>
                    <li>
                      <a href="<%= page_path('faq') %>"><h3>Questions?</h3></a>
                      <div class="clear"></div>
                    </li>
                    <li>
                      <a href="<%= page_path('contact') %>"><h3>Website Feedback</h3></a>
                      <div class="clear"></div>
                    </li>
                    <li>
                      <a href="<%= page_path('scams') %>"><h3>Avoid Scams</h3></a>
                      <div class="clear"></div>
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 widget footer-widget from-the-blog">
                <h4><span>Contact Us</span> <%= image_tag "images/divider-half.png", alt: "" %></h4>
                <ul>
                    <li>
                      <a href="#"><h3>(+249) 9123 70 343</h3></a>
                      <div class="clear"></div>
                    </li>
                    <li>
                      <a href="#"><h3>info@araddi.com</h3></a>
                      <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end footer container -->
</footer>

<div class="bottom-bar">
    <div class="container">
    © 2017  |  Araddi - All Rights Reserved
    </div>
</div>

<!-- JavaScript file links -->

<%= javascript_include_tag 'js/jquery-3.1.1.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'assets/jquery-ui-1.12.1/jquery-ui.min.js', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'assets/slick-1.6.0/slick.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'assets/chosen-1.6.2/chosen.jquery.min.js', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'js/isotope.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/wNumb.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/nouislider.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/global.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/hamburder-menu.js', 'data-turbolinks-track': 'reload' %>

</html>
